<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-grid>

    <ion-row>
      <ion-col size="6">
        <h1>Sonic-O filme</h1>
        <h2>12 de fevereiro de 2020</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/Kt9iFdTu5TbAm7tNfc876mrWU.jpg" />
        <p>Depois de descobrir um ouriço pequeno, azul e rápido, um policial de uma pequena cidade deve ajudá-lo a
          derrotar um gênio do mal que deseja fazer experiências com</p>
        <ion-button expand="block" fill="outline">Mais informações</ion-button>
      </ion-col>


      <ion-col size="6">
        <h1>Busca Implacável</h1>
        <h2>18 de fevereiro de 2008</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/mYwZKC2sNcwyA8EazMSwHnHUn53.jpg" />
        <p>Bryan Mills (Liam Neeson) é um ex-agente do governo,
          que deixou o emprego para que pudesse passar mais tempo ...</p>
        <ion-button expand="block" fill="outline">Mais informações</ion-button>
      </ion-col>


      <ion-col size="6">
        <h1>Polar</h1>
        <h2>25 de janeiro de 2019</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/wCjTsAp7SsjmxpRmO4Zp5Jaaq53.jpg" />
        <p>Um assassino prestes a se aposentar precisa adiar a boa vida quando seu
          chefe ganancioso envia um bando de matadores jovens e cruéis para exterminá-lo.</p>
        <ion-button expand="block" fill="outline">Mais informações</ion-button>
      </ion-col>


      <ion-col size="6">
        <h1>O peregrino</h1>
        <h2>27 de setembro de 2008</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/d7CaOtAjhc7KnYgOGvWWv12qwe3.jpg" />
        <p>O Peregrino, Uma Jornada para o Céu é uma adaptação moderna do conto clássico de John Bunyan.
           </p>
        <ion-button expand="block" fill="outline">Mais informações</ion-button>
      </ion-col>


    </ion-row>
  </ion-grid>
</ion-content>